.sun {
  position: absolute;
  top: 28%;
  right: 23%;
  margin: auto;
  width:70px;
  height:70px;
  border-radius:50%;
  background:#ffd744;
  opacity:0.9;
  box-shadow: 0px 0px 17px -3px #ffd744;
  z-index:10;
}
