* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.app-header {
  padding-top: 2rem;
  text-align: center;
}

main {
  height: auto;
}


@media (min-width: 992px) {
  .main-container {
    height: 100%;
  }
  main {
    height: calc(100% - 88px);
  }
}

@media (max-height: 770px) {
  .main-container {
    height: auto;
  }
}


// ======================= ng-select =======================
.ng-select-container {
  background-color: #1f374ba1;
  opacity: 0.6;
}


// ====dayy====
.background-day {
  background: rgb(15,93,180);
  background: linear-gradient(56deg, rgba(15,93,180,1) 0%, rgba(61,139,202,1) 58%, rgba(108,187,225,1) 100%);
}


.background-night {
  background: rgb(0,20,52);
  background: linear-gradient(313deg, rgba(0,20,52,1) 0%, rgba(17, 88, 146,1) 100%);
  color: #c5ccff;
}



// ======================= scrolbar =======================

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
